header p {margin:0px;
    border:0px;
    padding:5px;
    font-size:12px;
}

nav {height: 50px;
    background: darkorange;
    margin-bottom: 22px;
    width: 100%;
}

nav ul{list-style: none;
    padding-left: 0;
    display: flex;
    line-height: 50px;
    margin:0;
}

nav li{width: 12%;
    margin: 0 10px;
    text-align: center;
    border: 1px black;
    font-size: 25px;
    padding:0;
}

nav li:first-child{margin-left: 0;
}

nav li a:hover {text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
}

nav li a{color: #FFFFFF;
    text-decoration: none;
    padding: 0;
    display:block;
}

#ingredients .list {column-count: 2;
    column-gap: 80px;
    column-rule: 2px hidden;

}

#methods .list li {padding: 10px;
    list-style: lower-roman outside;
}

#more {font-family: monospace;
    padding: auto;
}

#more h2 {font-size: 20px;
    padding-bottom: 0;
    color: black;
}

#more ul {margin:10px;
    padding:0;
    padding-left:30px;
}

.superstar {font-style: normal;
    color: red;
}

.links {list-style: circle outside url(star.png);
    font-size: 15px;
}

body {background-color: skyblue;
    margin:0;
    font-family: sans-serif;
}

main {background-color: rgba(255,255,255,0.2);
    border-radius: 2%;
    margin: 80px;
    margin-bottom:20px;
    margin-top:0;
    padding: 80px;
    padding-top:20px;
}

h1 {padding-bottom: 20px;
    clear: both;
    font-size: 50px;
    text-align: center;
    padding-top: 0;
    margin:0;
    color: orangered;
}

p {font-size: 20px;
}

p span {font-style: italic;
}

p span:last-child {text-decoration: underline;
}

li {font-size: 20px;
    padding:2px;
}

img {display: block;
    margin-left: auto;
    margin-right: auto;  
}

section {padding-left: 50px;
    padding-right: 50px;
}

h2 {font-size: 30px;
    margin: 0px;
    padding-top:30px;
    padding-bottom: 10px;
    color: orangered;
}

footer p {padding: 5px;
    margin: 0%;
    font-size: 10px;
}  